/*-------------------------------------*\
    POLL FORM
\*-------------------------------------*/

/**
 * Poll Form 
 * 
 **
 * Base
 * Implementation
 * 
 */ 
 

/*-------------------------------------*\
    Base
\*-------------------------------------*/

%poll-form {
}

    %poll-form__input {
        color: #2e2e2e;
        padding: unit(.25) 0;
        background: #d8eff3;
        border: 0;

        outline: 0;

        @include border-radius(4px);
        @include box-shadow((
            0 2px 4px shade(#d8eff3, 18) inset,
            0 0 0 2px $c-orange
        ));
    }





/*-------------------------------------*\
    Implementation
\*-------------------------------------*/


.poll-form { @extend %poll-form !optional; }
    .poll-form__input { @extend %poll-form__input !optional; }
    .poll-form__button { @extend %poll-form__button !optional; }





