/*-------------------------------------*\
    POLL FORM
\*-------------------------------------*/

/**
 * Poll Form 
 * 
 **
 * Base
 * Implementation
 * 
 */ 
 

/*-------------------------------------*\
    Base
\*-------------------------------------*/

%poll-form {
}

    %poll-form__input {
        padding: unit(.25) 0;
        border: 1px solid #e0e0e0;
        background: #d8eff3;

        outline: 0;

        @include border-radius(4px);
        @include box-shadow((
            0 1px 2px #acacac inset
        ));
    }

    %poll-form__button {
        color: #fff;
        font-weight: bold;
        padding: unit(.25) 0;
        border: 0;
        background: #4eadec;
        outline: 0;

        @include border-radius(6px);
        @include box-shadow((
            0 2px 2px #e0e0e0
        ));

        &:focus,
        &:hover {
            background: #6cc1fa;
            @include animation(jiggle .25s);
        }
    }




/*-------------------------------------*\
    Implementation
\*-------------------------------------*/


.poll-form { @extend %poll-form !optional; }
    .poll-form__input { @extend %poll-form__input !optional; }
    .poll-form__button { @extend %poll-form__button !optional; }





