<h2 class="theta  site__tagline">Make polls quickly and share them!</h4>

<form v-on="submit: submit" class="js-poll-form  poll-form  align-center">
    <input v-model="question" placeholder="Start typing to start a new poll!" class="align-center  one-whole  poll-form__input  nudge-half--bottom">

    <div v-class="invisible: !isValid" class="animate  invisible">
        <button class="button--illuminated  button--jiggly  one-half">Start That Poll, Son!</button>
    </div>
</form>


<h3>Recent Polls</h3>

<ul class="js-poll-list  poll-list  list--plain">
    <li v-repeat="polls" class="poll-list__item  poll-list__item--closed" v-class="poll-list__item--closed: !open">
        <section class="clear-fix" v-on="click: toggle(this, $event)">
            <footer class="plain--links  poll-list__actions  float-right">
                <time v-if="expirationDate" class="poll-list__time">00:56</time>
                <a href="#" class="icon--eye  poll-list__watch"></a>
            </footer>

            <h4 class="poll-list__question  float-left">
                <a 
                    v-text="question" 
                    test="\{{true ? question : 'false'}}" 
                    test2="\{{'test'}}"
                    href="/poll/\{{_id}}" 
                    class="link--plain">
                </a>
            </h4>

            <h4 v-if="choices.length" class="poll-list__answer  align-center">This One</h4>

            <ul v-if="choices.length" class="poll-list__options  list--plain">
                <li v-repeat="choices">
                    \{{name}}
                </li>
            </ul><!-- poll-list__options -->

            <p class="clear  one-line" v-if="!choices.length">
                <small>
                    There are no choices for this poll yet. :(
                </small>
        </section>
    </li>
</ul>
