<div class="js-poll">
<h2 v-text="poll.question"></h2>

<p>Share it: <code>\{{ tinyUrl }}</code></p>

<section class="poll__choices" data-ui-component="poll__choices">
    <h5 v-show="!poll.choices.length">There are no choices for this poll yet. Add one?</h5>

    <section v-on="click: vote(this, $event)" v-repeat="poll.choices" class="poll__choice  clear-fix">
        <a v-on="click: choiceDelete(this, $event)" href="#" class="float-right  icon--cross  link--plain"></a>
        <div class="choice__name  float-left">\{{ name }}</div>
        <div v-class="light: votes.length == 0" class="choice__votes  float-right">\{{ votes.length ? votes.length : 'no' }} votes</div>
        <div v-style="width: (votes.length/(voteCount ? voteCount : 1)) * 100 + '%'" class="choice__meter  one-whole"></div>
    </section>

    <form v-on="submit: choiceSubmit">
        <input v-model="newChoice" placeholder="Add a new choice" class="two-thirds  palm--one-whole  input"></textarea>
    </form>
</section>


<section data-ui-component="comments">
    <h3>Comments</h3>

    <article v-repeat="poll.comments" class="comment">
        <footer class="comment__footer  clear-fix">
            <a v-on="click: commentDelete(this, $event)" href="#" class="float-right  icon--cross  link--plain"></a>
            <span v-text="user.username ? user.username : 'anonymous'" class="comment__author"></span>
            <small class="comment__time  light">
                on <time v-text="createdat | dateformat fullDate" datetime="" pubdate></time>
            </small>
        </footer>

        <div v-html="body | marked" class="comment__body">
        </div>
    </article>

    <form v-on="submit: commentSubmit">
        <textarea v-model="newCommentBody" class="one-whole  textarea"></textarea>

        <button class="one-third  lap--two-thirds  palm--one-whole  float-right">New Comment</button>
    </form>
</section>
</div>
