/*-------------------------------------*\
    BUTTONS
\*-------------------------------------*/

/**
 * Buttons 
 * 
 * 
 * 
    
 * 
 */ 
 

.button,
button {
    color: #fff;
    font-weight: bold;
    padding: unit(.25) 0;
    border: 0;
    background: $c-red--darker;
    outline: 0;

    @include border-radius(6px);
    @include transition(opacity .5s);

    &:focus,
    &:hover {
        background: $c-red--dark;
    }
}

.button--illuminated {
    &:focus,
    &:hover {
        background: #6cc1fa;
    }
}

.button--jiggly {
    &:focus,
    &:hover {
        @include animation(jiggle .28s);
    }
}
