@font-face {
	font-family: 'popoll';
	src:url('fonts/popoll.eot?1wtw1w');
	src:url('fonts/popoll.eot?#iefix1wtw1w') format('embedded-opentype'),
		url('fonts/popoll.woff?1wtw1w') format('woff'),
		url('fonts/popoll.ttf?1wtw1w') format('truetype'),
		url('fonts/popoll.svg?1wtw1w#popoll') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon--"], [class*=" icon--"] {
	font-family: 'popoll';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon--eye:before {
	content: "\e600";
}
.icon--eye-blocked:before {
	content: "\e601";
}
.icon--github:before {
	content: "\e602";
}
.icon--user:before {
	content: "\e603";
}
.icon--users:before {
	content: "\e604";
}
.icon--user-add:before {
	content: "\e605";
}
.icon--thumbsup:before {
	content: "\e606";
}
.icon--thumbsdown:before {
	content: "\e607";
}
.icon--bell:before {
	content: "\e608";
}
.icon--flag:before {
	content: "\e609";
}
.icon--tag:before {
	content: "\e60a";
}
.icon--music:before {
	content: "\e60b";
}
.icon--graduation:before {
	content: "\e60c";
}
.icon--airplane:before {
	content: "\e60d";
}
.icon--rocket:before {
	content: "\e60e";
}
.icon--brush:before {
	content: "\e60f";
}
.icon--earth:before {
	content: "\e610";
}
.icon--statistics:before {
	content: "\e611";
}
.icon--pie:before {
	content: "\e612";
}
.icon--bars:before {
	content: "\e613";
}
.icon--graph:before {
	content: "\e614";
}
.icon--checkmark:before {
	content: "\e615";
}
.icon--cross:before {
	content: "\e616";
}
.icon--minus:before {
	content: "\e617";
}
.icon--plus:before {
	content: "\e618";
}
.icon--cross2:before {
	content: "\e619";
}
.icon--minus2:before {
	content: "\e61a";
}
.icon--plus2:before {
	content: "\e61b";
}
.icon--cross3:before {
	content: "\e61c";
}
.icon--minus3:before {
	content: "\e61d";
}
.icon--plus3:before {
	content: "\e61e";
}
.icon--info:before {
	content: "\e61f";
}
.icon--question:before {
	content: "\e620";
}
.icon--add-to-list:before {
	content: "\e621";
}
.icon--bookmark:before {
	content: "\e622";
}
.icon--arrow-left:before {
	content: "\e623";
}
.icon--arrow-down:before {
	content: "\e624";
}
.icon--arrow-up-upload:before {
	content: "\e625";
}
.icon--arrow-right:before {
	content: "\e626";
}
.icon--twitter:before {
	content: "\e627";
}
.icon--facebook:before {
	content: "\e628";
}
.icon--googleplus:before {
	content: "\e629";
}
