/*-------------------------------------*\
    FONTS
\*-------------------------------------*/

/**
 * Fonts 
 * 
 **
 * Imports
 * Stacks
 * 
    
 * 
 */ 
 

/*-------------------------------------*\
    Imports
\*-------------------------------------*/

/*---   Icons   ---*/

@font-face {
	font-family: 'popoll';
	src:url('/dist/fonts/popoll.eot?1wtw1w');
	src:url('/dist/fonts/popoll.eot?#iefix1wtw1w') format('embedded-opentype'),
		url('/dist/fonts/popoll.woff?1wtw1w') format('woff'),
		url('/dist/fonts/popoll.ttf?1wtw1w') format('truetype'),
		url('/dist/fonts/popoll.svg?1wtw1w#popoll') format('svg');
	font-weight: normal;
	font-style: normal;
}




/*-------------------------------------*\
    Stacks
\*-------------------------------------*/

$f-body: verdana, arial, sans-serif;
